.details {
  &__wrapper {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }
  &__button {
    @include page-grid;

    width: 100%;
    &--center {
      grid-column: 1/-1;

      @include on-tablet {
        grid-column: 2/6;
      }

      @include on-desktop {
        grid-column: 5/9;
      }
    }
  }
}
