.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;

  background-image: url(../image/header-bg.png);
  background-position: center;
  background-size: cover;

  &__bottom {
    padding-bottom: 40px;

    @include content-padding-inline;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    color: white;
    letter-spacing: -1.5px;

    @include on-tablet {
      padding-bottom: 88px;
      font-size: 64px;
    }
  }
}
