.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    position: relative;
    background-image: url(../icons/Icon-Phone-call.svg);
    &-number {
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateX(-20px) translateY(-50%);

      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      color: $main-text-color;
      text-decoration: none;
      white-space: nowrap;

      visibility: hidden;
      opacity: 0;
    }

    @include on-desktop {
      &:hover &-number {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &--burger {
    background-image: url(../icons/Icon-Burger-menu.svg);
    &:hover {
      background-image: url(../icons/Icon-Burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../icons/Icon-Close.svg);
  }
}
