.product {
  padding: 0;
  &__title {
    font-size: 24px;
    font-weight: 700;
  }
  &__price {
    font-size: 24px;
    font-weight: 700;
  }

  &__photo {
    @include hover(transform, scale(1.05));

    width: 100%;
  }
}
